.container {
  display: grid;
  grid-template-areas:
    'header header header header nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
  padding: 10px;
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }
