.container {
  display: grid;

  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr;

  width: 100vw;
  height: 100vh;
}

.grid-item {

}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

nav ul {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
