body {
  background-color: black;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
}

.container {

}

header {
  background-color: blue;
}

header figure {
  background-color: gold;
}

nav {
  background-color: gray;
}

main {
  background-color: yellow;
}

footer {
  background-color: orange;
}
